
HEADER_SEARCH_PATHS = $(inherited) "/Users/pcrbrandao/.conan/data/Poco/1.7.5/lasote/stable/package/ed6b7f756ffc0200e01bbc20f2020be357501569/include" "/Users/pcrbrandao/.conan/data/OpenSSL/1.0.2i/lasote/stable/package/811d822905b54fc167634e916129401c4f86d1e5/include" "/Users/pcrbrandao/.conan/data/zlib/1.2.8/lasote/stable/package/dfaeed675a0f450dbc88fe8262d9d89b3e8509b0/include"
LIBRARY_SEARCH_PATHS = $(inherited) "/Users/pcrbrandao/.conan/data/Poco/1.7.5/lasote/stable/package/ed6b7f756ffc0200e01bbc20f2020be357501569/lib" "/Users/pcrbrandao/.conan/data/OpenSSL/1.0.2i/lasote/stable/package/811d822905b54fc167634e916129401c4f86d1e5/lib" "/Users/pcrbrandao/.conan/data/zlib/1.2.8/lasote/stable/package/dfaeed675a0f450dbc88fe8262d9d89b3e8509b0/lib"
OTHER_LDFLAGS = $(inherited)  -lPocoUtil -lPocoMongoDB -lPocoNet -lPocoNetSSL -lPocoCrypto -lPocoData -lPocoDataSQLite -lPocoUtil -lPocoZip -lPocoXML -lPocoJSON -lPocoFoundation -lssl -lcrypto -lz

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) 
OTHER_CFLAGS = $(inherited)
OTHER_CPLUSPLUSFLAGS = $(inherited)
